<% content_for :body_class do %>
  data-spy="scroll" data-target="#header-navbar" data-offset="51"
<% end %>

    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-inverse navbar-fixed-top">
            <!-- begin container -->
            <div class="container">
                <!-- begin navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="logo-container" href="http://localhost:3000/index.html" class="navbar-brand">
                        <img id="logo" alt="Duster" height="50" src="/assets/logo2.png" width="160">
                        <!--<span class="brand-text">Duster</span>-->
                    </a>
                </div>
                <!-- end navbar-header -->
                <!-- begin navbar-collapse -->
                <div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#summary" data-click="scroll-to-target">Resumo</a></li>
                      <li><a href="#faqs" data-click="scroll-to-target">FAQs</a></li>
                      <li><a href="#services" data-click="scroll-to-target">Serviços</a></li>
                      <% if user_signed_in? %>
                      <li class="dropdown">
                        <a href="#perfil" data-click="scroll-to-target" data-toggle="dropdown">USER<b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-left animated fadeInDown">
                          <li><%= link_to t("header.settings"), edit_user_registration_path %></li>
                          <li><%= link_to t("header.logout"), destroy_user_session_path, method: :delete %></li>
                        </ul>
                      </li>
                      <% else %>
                      <li><%= link_to t("landing.header.login"), new_user_session_path %></li>
                      <li class="dropdown">
                        <a href="#signup" data-click="scroll-to-target" data-toggle="dropdown"><%= t 'landing.header.signup' %><b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-left animated fadeInDown">
                          <li><%= link_to t("landing.header.signup_as_a_client"),new_user_registration_path%></li>
                          <li><%= link_to t("landing.header.signup_as_a_maid"),new_user_registration_path%></li>
                        </ul>
                      </li>
                      <% end %>
                    </ul>
                </div>
                <!-- end navbar-collapse -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #header -->
        
        <!-- begin buttons -->
        <div id="summary" class="content has-bg bg-black-darker" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <br/>
                <h2 class="content-title">Não ficou esclarecido?</h2>
                <div class="text-center">
                Não hesite em entrar em contacto connosco. 
                <br/>
                <%= link_to "Contacto", root_path + "#contact" %>
                </div>
            </div>
            <!-- end container -->
        </div>
        <!-- end buttons -->
        <!-- begin FAQs -->
        <div id="faqs" class="content bg-silver" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title">FAQs</h2>
                <!-- begin panel-group -->
                <div class="panel-group" id="faq">
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#faq-1"><i class="fa fa-question-circle fa-fw text-success m-r-5"></i> Como funciona a deslocação para o local de trabalho? E o que necessito levar?</a>
                            </h4>
                        </div>
                        <div id="faq-1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>
                                    A deslocação fica a cargo de si pois não somos uma empresa propriamente dita, logo não possuímos veículos. Já por isso mesmo também garantimos que não será necessário transportar consigo qualquer tipo de material de limpeza (luvas, panos, detergentes,etc), a menos que ache pertinente levar.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#faq-2"><i class="fa fa-question-circle fa-fw text-success m-r-5"></i>Quais são os horários de trabalho?</a>
                            </h4>
                        </div>
                        <div id="faq-2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Os horários de trabalho ficam à sua inteira responsabilidade, sendo que posteriormente será apenas requisitada dentro desse mesmo horário.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#faq-3"><i class="fa fa-question-circle fa-fw text-success m-r-5"></i>Existe algum custo para poder trabalhar?</a>
                            </h4>
                        </div>
                        <div id="faq-3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Existe, mais propriamente para estar registada no nosso sistema com conta activa. Numa fase inicial tem zero custos, é a fase gratuíta. Após essa fase terá de nos pagar uma mensalidade fixa de 10€ que serve para ter a sua conta funcional e receber pedidos de trabalho. Existe ainda uma parte premium (opcional), que pode pagar para eventualmente se "promover".
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#faq-4"><i class="fa fa-question-circle fa-fw text-success m-r-5"></i>É obrigatório a assinatura de algum contrato?</a>
                            </h4>
                        </div>
                        <div id="faq-4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Não, o contracto que existe por assim dizer é apenas o vinculo da sua conta connosco, sendo que para continuar vinculada terá de pagar (como referido no ponto anterior).
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#faq-5"><i class="fa fa-question-circle fa-fw text-success m-r-5"></i>Como funciona o acesso à casa?</a>
                            </h4>
                        </div>
                        <div id="faq-5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    O acesso à casa fica naturalmente a cargo do dono, sendo que você será informado de que maneira ele irá proceder.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#faq-6"><i class="fa fa-question-circle fa-fw text-success m-r-5"></i>É necessário ter algum tipo de formação ou ter experiência?</a>
                            </h4>
                        </div>
                        <div id="faq-6" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Não, queremos simplificar o processo e alargar a àrea a quem quiser realizar este tipo de serviços, por isso só necessita registar-se e cumprir com a realização do serviço da melhor forma possível. Experiência é bom para completar o seu perfil e possívelmente obter mais serviços.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end panel-group -->
            </div>
            <!-- end container -->
        </div>
        <!-- end FAQs -->
        
        <!-- begin services -->
        <div id="services" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title">Serviços</h2>
                <!-- begin row -->
                <div class="row p-t-10">
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-2">
                        <div class="service service-vertical">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn">
                            <%= image_tag('grocery.png',size: '30x30')%>
                            </div>
                            <div class="info">
                                <h4 class="title">Compras para o Lar</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-2">
                        <div class="service service-vertical">
                            <div class="icon bg-thembe" data-animation="true" data-animation-type="bounceIn">
                            <%= image_tag('broom.png',size: '30x30')%>
                            </div>
                            <div class="info">
                                <h4 class="title">Limpeza Geral</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-2">
                        <div class="service service-vertical">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn">
                            <%= image_tag('ferro.png',size: '30x30')%>
                            </div>
                            <div class="info">
                                <h4 class="title">Engomadoria</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-3 col-sm-2">
                        <div class="service service-vertical">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn">
                            <%= image_tag('cook.jpg',size: '40x40')%>
                            </div>
                            <div class="info">
                                <h4 class="title">Preparar Refeições</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end services -->
        
        <!-- begin #footer -->
        <div id="footer" class="footer">
            <div class="container">
                <div class="footer-brand">
                  <img id="logo" alt="Duster" height="50" src="/assets/logo2.png" width="160">
                </div>
                <p>
                    &copy; <%= t 'landing.contact_us.copyright' %> <br />
                </p>
                <p class="social-list">
                    <a href="http://facebook.com/duster.oficial"><i class="fa fa-facebook fa-fw"></i></a>
                    <a href="http://dusterproject.tumblr.com/"><i class="fa fa-tumblr fa-fw"></i></a>
                </p>
            </div>
        </div>
        <!-- end #footer -->
    </div>
    <!-- end #page-container -->


