<% content_for :body_class do %>
  data-spy="scroll" data-target="#header-navbar" data-offset="51"
<% end %>
    
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-inverse navbar-fixed-top">
            <!-- begin container -->
            <div class="container">
                <!-- begin navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="logo-container" href="http://localhost:3000/index.html" class="navbar-brand">
                        <img id="logo" alt="Duster" height="50" src="/assets/logo2.png" width="160">
                        <!--<span class="brand-text">Duster</span>-->
                    </a>
                </div>
                <!-- end navbar-header -->
                <!-- begin navbar-collapse -->
                <div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#faqs" data-click="scroll-to-target">FAQs</a></li>
                      <% if user_signed_in? %>
                      <li class="dropdown">
                        <a href="#perfil" data-click="scroll-to-target" data-toggle="dropdown">USER<b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-left animated fadeInDown">
                          <li><%= link_to t("header.settings"), edit_user_registration_path %></li>
                          <li><%= link_to t("header.logout"), destroy_user_session_path, method: :delete %></li>
                        </ul>
                      </li>
                      <% else %>
                      <li><%= link_to t("landing.header.login"), new_user_session_path %></li>
                      <li class="dropdown">
                        <a href="#signup" data-click="scroll-to-target" data-toggle="dropdown"><%= t 'landing.header.signup' %><b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-left animated fadeInDown">
                          <li><%= link_to t("landing.header.signup_as_a_client"),new_user_registration_path%></li>
                          <li><%= link_to t("landing.header.signup_as_a_maid"),new_user_registration_path%></li>
                        </ul>
                      </li>
                      <% end %>
                    </ul>
                </div>
                <!-- end navbar-collapse -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #header -->
        
        <!-- begin buttons -->
        <div id="summary" class="content has-bg bg-black-darker" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <br/>
                <h2 class="content-title">Não ficou esclarecido?</h2>
                <div class="text-center">
                Não hesite em entrar em contacto connosco. 
                <br/>
                <%= link_to "Contacto", root_path + "#contact" %>
                </div>
            </div>
            <!-- end container -->
        </div>
        <!-- end buttons -->

        <!-- begin FAQs -->
        <div id="faqs" class="content bg-silver" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title">FAQs</h2>
                <!-- begin panel-group -->
                <div class="panel-group" id="faq">
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#faq-1"><i class="fa fa-question-circle fa-fw text-success m-r-5"></i>Quantas pessoas fazem parte da equipa de limpezas domésticas?</a>
                            </h4>
                        </div>
                        <div id="faq-1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>
                                    As equipas de limpeza são compostas apenas por uma pessoa.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#faq-2"><i class="fa fa-question-circle fa-fw text-success m-r-5"></i> Quais são os horários possíveis para requisitar as limpezas?</a>
                            </h4>
                        </div>
                        <div id="faq-2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    As limpezas são agendadas para a altura que o cliente assim o desejar, salvaguardando de não haver hora disponível em todas as alturas.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#faq-3"><i class="fa fa-question-circle fa-fw text-success m-r-5"></i> Há algum custo com a limpeza, além do número de horas de trabalho?</a>
                            </h4>
                        </div>
                        <div id="faq-3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Não, o cliente apenas paga o número de horas de limpeza agendadas. O cliente deverá apenas fornecer o material devido para a limpeza.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#faq-4"><i class="fa fa-question-circle fa-fw text-success m-r-5"></i> É obrigatório a assinatura de algum contrato?</a>
                            </h4>
                        </div>
                        <div id="faq-4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Não, o cliente pode agendar um serviço quando quer e nos horários que acordar. Não temos como objectivo prender o cliente através da assinatura de qualquer contrato, mas sim através do serviço desempenhado, sobre o qual pode ser dada uma apreciação no nosso site.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#faq-5"><i class="fa fa-question-circle fa-fw text-success m-r-5"></i> Como funciona o acesso à casa, tenho que dar a chave?</a>
                            </h4>
                        </div>
                        <div id="faq-5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Depende, cada cliente procede da maneira que seja mais do seu agrado. Deixamos este aspecto ao seu critério porque entendemos que custa sempre confiarmos totalmente num desconhecido.
                                    Existem várias hipóteses:
                                    <ul>
                                        <li>Entrega a chave à pessoa.</li>
                                        <li>Fica em casa no dia da limpeza para abrir a porta, podendo depois prosseguir com a sua vida e quando o serviço termina a pessoa responsável abandona e fecha a porta à saída.</li>
                                        <li>Pede a algum familiar, vizinho ou amigo para ir abrir a porta.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                    <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#faq-6"><i class="fa fa-question-circle fa-fw text-success m-r-5"></i> O pessoal tem algum tipo de formação?</a>
                            </h4>
                        </div>
                        <div id="faq-6" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Todas as colaboradoras que possuem um registo na plataforma, passam por uma fase de registo minuciosa e elaborada, que é verificada por pessoas da nossa equipa e só obtem o registo validado no caso de estar completo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end panel-group -->
            </div>
            <!-- end container -->
        </div>
        <!-- end FAQs -->
        <!-- begin #footer -->
        <div id="footer" class="footer">
            <div class="container">
                <div class="footer-brand">
                  <img id="logo" alt="Duster" height="50" src="/assets/logo2.png" width="160">
                </div>
                <p>
                    &copy; <%= t 'landing.contact_us.copyright' %> <br />
                </p>
                <p class="social-list">
                    <a href="http://facebook.com/duster.oficial"><i class="fa fa-facebook fa-fw"></i></a>
                    <a href="http://dusterproject.tumblr.com/"><i class="fa fa-tumblr fa-fw"></i></a>
                </p>
            </div>
        </div>
        <!-- end #footer -->
    </div>
    <!-- end #page-container -->


