<%= content_for :header_css do %>
<%= stylesheet_link_tag "registration"%>
<%end%>
<% content_for :header_js do %>
<%= javascript_include_tag "registration" %>
<% end %>
<% content_for :ready_js do %>
<%= 'FormPlugins.init();' %>
<% end %>

<!-- begin #content -->
<div id="content" class="content-form">
  <!-- begin row -->
  <div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
      <!-- begin panel -->
      <div class="panel panel-inverse">
       
        <div class="panel-body">
          <!-- <form action="/" method="POST" data-parsley-validate="true" name="form-wizard">-->
           <%= simple_form_for(resource, as: resource_name, url: "/service/request", html: {"name" => "form-wizard","data-parsley-validate"=>"true"}) do |f| %>
          
            <div id="wizard">
              <ol>
                <li>
                  Informações da casa
                  <small>Insert data.</small>
                </li>
                <li>
                  Informações da morada
                  <small>Insert data.</small>
                </li>
                <li>
                  Escolha da data
                  <small>Insert data.</small>
                </li>
                <li>
                  Sucesso
                  <small>Insert data.</small>
                </li>
              </ol>
              <!-- begin wizard step-1 -->
              <div class="wizard-step-1">
                <fieldset>
                  <legend class="pull-left width-full">Informações da casa</legend>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Número de divisões da casa</label>
                          <%= f.select :ndivisoes, options_for_select([["Selecione uma", ""], "1", "2", "3", "4", "5", "6"]), input_html: { class:"form-control", data_parsley_group:"wizard-step-1"}%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>tipos de serviço</label>
                          <%= f.radio_button :tiposervico, 'Limpeza' %>
                          <%= f.radio_button :tiposervico, 'Engomadoria' %>
                          <%= f.radio_button :tiposervico, 'Compras externas' %>
                          <%= f.radio_button :tiposervico, 'Culinária' %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Tipo de espaço</label>
                          <%= f.collection_radio_buttons :tipoespaco, [['C', 'Casa'] ,['P', 'Prédio'],['E','Escritorio'], ['O','outro']],:first, :last, input_html: { class:"form-control", data_parsley_group:"wizard-step-1"} %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>número de horas do serviço</label>
                          <%= f.select :duracao, options_for_select([["Selecione uma", ""], "0h30", "1h00", "1h30", "2h00", "2h30", "3h00","3h30","4h00","4h30","5h30","6h00"]), input_html: { class:"form-control", data_parsley_group:"wizard-step-1"}%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>tem material de limpeza</label>
                          <%= f.collection_radio_buttons :material, [['S', 'Sim'] ,['N', 'Não']],:first, :last, input_html: { class:"form-control", data_parsley_group:"wizard-step-1"} %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>informações adicionais</label>
                          <%= f.input :infoadicional, as: :string, required: true, placeholder: "", label: false, autofocus: true, input_html: { class:"form-control", data_parsley_group:"wizard-step-1"} }%>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <!-- end wizard step-1 -->
              <!-- begin wizard step-2 -->
              <div class="wizard-step-2">
                <fieldset>
                  <legend class="pull-left width-full">Informações da morada</legend>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Morada já definida</label>
                          
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Ou criar outra</label>
                        <!-- tera de vir de um get -->
                        <%= f.select :duracao, options_for_select([["Selecione uma", ""], "Morada1", "Morada2", "Morada3"]), input_html: { class:"form-control", data_parsley_group:"wizard-step-2"}%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>País</label>
                          <%= f.input :pais, as: :string, required: true, placeholder: "", label: false, autofocus: true, input_html: { class:"form-control", data_parsley_group:"wizard-step-2"} }%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Distrito</label>
                          <%= f.input :distrito, as: :string, required: true, placeholder: "", label: false, autofocus: true, input_html: { class:"form-control", data_parsley_group:"wizard-step-2"} }%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Localidade</label>
                          <%= f.input :localidade, as: :string, required: true, placeholder: "", label: false, autofocus: true, input_html: { class:"form-control", data_parsley_group:"wizard-step-2"} }%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Freguesia</label>
                          <%= f.input :freguesia, as: :string, required: true, placeholder: "", label: false, autofocus: true, input_html: { class:"form-control", data_parsley_group:"wizard-step-2"} }%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Código postal</label>
                        <%= f.input :codigopostal, as: :string, required: true, placeholder: "", label: false, autofocus: true, input_html: { class:"form-control", data_parsley_group:"wizard-step-2"} }%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Rua</label>
                        <%= f.input :rua, as: :string, required: true, placeholder: "", label: false, autofocus: true, input_html: { class:"form-control", data_parsley_group:"wizard-step-2"}%>
                      </div>
                    </div>
                  </div>
                  </fieldset>
                </div>
              <!-- end wizard step-2 -->
              <!-- begin wizard step-3 -->
              <div class="wizard-step-3">
                <fieldset>
                  <legend class="pull-left width-full">Escolha da data</legend>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Data</label>
                        <%= f.input :date, label: false, required: true, placeholder: "Select date", label: false, autofocus: true, input_html: { class:"form-control", id:"datepicker-default", data_parsley_group:"wizard-step-3"}%>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Preferências</label>
                        <%= f.collection_radio_buttons :material, [['P', 'Preço'] ,['D', 'Distância'],['R','Rating']],:first, :last, input_html: { class:"form-control", data_parsley_group:"wizard-step-3"} %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Tipo de espaço</label>

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Hora de inicio</label>
                          <%= f.select :duracao, options_for_select([["Selecione uma", ""], "0h30", "1h00", "1h30", "2h00", "2h30", "3h00","3h30","4h00","4h30","5h30","6h00"]), input_html: { class:"form-control", data_parsley_group:"wizard-step-3"}%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Tabela da moda</label>

                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <!-- end wizard step-3 -->
              <!-- begin wizard step-4 -->
              <div>
                <div class="jumbotron m-b-0">
                  <h1>Pedido enviado com sucesso</h1>
                  <p>AVISO: BLa bla bla bla</p>
                  <%= f.button :submit %>
                  <!--<p><a class="btn btn-success btn-lg" role="button">ir para a home</a></p>-->
                </div>
              </div>
              <!-- end wizard step-4 -->
            </div>
          <% end %>

          <!--</form>-->
        </div>
      </div>
      <!-- end panel -->
    </div>
    <!-- end col-12 -->
  </div>
  <!-- end row -->
</div>
<!-- end #content -->
