<%= content_for :header_css do %>
  <%= stylesheet_link_tag "client_registration"%>
  <%= stylesheet_link_tag "search_map" %>
<%end%>


<% content_for :header_js do %>
  <%= javascript_include_tag "client_registration" %>
  <%= javascript_include_tag "search_map.js" %>
<% end %>

<% content_for :js_start do %>
<%= 'FormWizardValidation.init();' %>
<% end %>


<!-- begin #content -->
<div id="content" class="content content-full-width">
    <div class="row">
    	<div class="col-md-12">
       		<input type="text" name="firstname" value="Mickey" id="#cenas"> 
    	</div>
    	<input id="pac-input" class="controls" type="text" placeholder="Search Box">

        <div id="map-search-prof" class="map"></div>
    </div>
</div>
<!-- end #content -->