<%= content_for :header_css do %>
<%= stylesheet_link_tag "registration"%>
<%end%>
<% content_for :header_js do %>
<%= javascript_include_tag "registration" %>
<% end %>
<% content_for :ready_js do %>
<%= 'FormPlugins.init();' %>
<% end %>

<!-- begin #content -->
<div id="content" class="content-form">
  <!-- begin row -->
  <div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
      <!-- begin panel -->
      <div class="panel panel-inverse">
       
        <div class="panel-body">
          <!-- <form action="/" method="POST" data-parsley-validate="true" name="form-wizard">-->
           <%= simple_form_for(resource, as: resource_name, url: "/users/create_client", html: {"name" => "form-wizard","data-parsley-validate"=>"true"}) do |f| %>
          
            <div id="wizard">
              <ol>
                <li>
                  Informação pessoal
                  <small>Insert data.</small>
                </li>
                <li>
                  Contact Information
                  <small>Insert data.</small>
                </li>
                <li>
                  Password
                  <small>Insert data.</small>
                </li>
                <li>
                  Concluir registo
                  <small>Insert data.</small>
                </li>
              </ol>
              <!-- begin wizard step-1 -->
              <div class="wizard-step-1">
                <fieldset>
                  <legend class="pull-left width-full">Informação pessoal</legend>
                  <!-- begin row -->
                  <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4">
                      <div class="form-group block1">
                        <label>Nome</label>
                        <%= f.input :name, placeholder: "João", label: false, autofocus: true, input_html: { class:"form-control", data_parsley_group:"wizard-step-1"}%>
                      </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 control-label">
                      <div class="form-group">
                        <label>Sexo</label>
                        <p>
                        <%= f.collection_radio_buttons :name, [['M', 'Male'] ,['F', 'Female']],:first, :last %>
                      </div>
                    </div>
                    <!-- end col-4 -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Data de nascimento</label>
                          <%= f.input :name, label: false, required: true, placeholder: "Select date", label: false, autofocus: true, input_html: { class:"form-control", data_parsley_group:"wizard-step-1",id:"datepicker-default"}%>
                      </div>
                    </div>
                  </div>
                  <!-- end row -->
                  <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Bi/CC</label>
                        <%= f.input :cc, as: :string, required: true, placeholder: "12345678", label: false, autofocus: true, input_html: { class:"form-control", data_parsley_group:"wizard-step-1"}%> 
                      </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Nacionalidade</label>
                        <p>
                        <%= f.select :nationality, options_for_select([["Selecione uma", ""], "Portugal", "Espanha"]) %>
                      </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4">

                    </div>
                    <!-- end col-4 -->
                  </div>
                  <!-- end row -->
                </fieldset>
              </div>
              <!-- end wizard step-1 -->
              <!-- begin wizard step-2 -->
              <div class="wizard-step-2">
                <fieldset>
                  <legend class="pull-left width-full">Contact Information</legend>
                  <!-- begin row -->
                  <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>E-mail</label>
                        <%= f.input :email, required: true, placeholder: "exemplo@duster.pt", label: false, autofocus: true, input_html: { class:"form-control", data_parsley_group:"wizard-step-2"}%> 
                      </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Telemóvel</label>
                        <%= f.input :cell_phone, as: :string, required: true, placeholder: "901234567", label: false, autofocus: true, input_html: { class:"form-control", data_parsley_group:"wizard-step-2"}%> 
                      </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Telefone</label>
                        <%= f.input :phone, as: :string, required: true, placeholder: "200123456", label: false, autofocus: true, input_html: { class:"form-control", data_parsley_group:"wizard-step-2"}%> 
                      </div>
                    </div>
                    <!-- end col-4 -->
                  </div>
                  <!-- end row -->
                </fieldset>
              </div>
              <!-- end wizard step-2 -->
              <!-- begin wizard step-3 -->
              <div class="wizard-step-3">
                <fieldset>
                  <legend class="pull-left width-full">Login</legend>
                  <!-- begin row -->
                  <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Pasword</label>
                        <div class="controls">
                          <%= f.password_field :password %>
                        </div>
                      </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Confirm Pasword</label>
                        <div class="controls">
                          <%= f.password_field :password_confirmation , input_html: { class:"form-control", data_parsley_group:"wizard-step-3"}%>
                        </div>
                      </div>
                    </div>
                    <!-- end col-6 -->
                  </div>
                  <!-- end row -->
                </fieldset>
              </div>
              <!-- end wizard step-3 -->
              <!-- begin wizard step-4 -->
              <div>
                <div class="jumbotron m-b-0">
                  <h1>Clique abaixo para registar</h1>
                  <p>Bem-vindo ao Duster</p>
                  <%= f.button :submit %>
                  <!--<p><a class="btn btn-success btn-lg" role="button">ir para a home</a></p>-->
                </div>
              </div>
              <!-- end wizard step-4 -->
            </div>
          <% end %>

          <!--</form>-->
        </div>
      </div>
      <!-- end panel -->
    </div>
    <!-- end col-12 -->
  </div>
  <!-- end row -->
</div>
<!-- end #content -->
