<%= content_for :header_css do %>
<%= stylesheet_link_tag "client_registration"%>
<%= stylesheet_link_tag "search_map"%>
<%end%>
<% content_for :header_js do %>
<%= javascript_include_tag "client_registration" %>
<%= javascript_include_tag "search_map" %>
<% end %>
<%= content_for :js_start do %>
<%= "FormWizardValidation.init();"%>
<%end%>
<!-- begin #content -->
<div id="content" class="content-form">
  <!-- begin page-header -->
  <!-- end page-header -->
  <!-- begin row -->
  <div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
      <!-- begin panel -->
      <div class="panel panel-inverse">
        <div class="panel-body">
          <%= simple_form_for(resource,
          as: resource_name,
          url: "/users/create_client",
          html: {"data-parsley-validate" => "true",
          "name" => "form-wizard"
          }) do |f| %>
          <div id="wizard">
            <ol>
              <li>
                Morada
                <small>Local de residencia.</small>
              </li>
              <li>
                Login
                <small>Credencias de entrada no site.</small>
              </li>
              <li>
                Password
                <small>Password</small>
              </li>
              <li>
                Detalhes pessoais
                <small>Conclusão</small>
              </li>
            </ol>
            <!-- begin wizard step-1 -->
            <div class="wizard-step-1">
              <fieldset>
                <%= f.simple_fields_for(:addresses) do | add| %>
                <legend class="pull-left width-full">Informações da morada</legend>
                <div class="form-horizontal form-bordered">
                  <div class="row">
                    <div class="form-group">
                      <label class="control-label col-md-1"> Localidade </label>
                      <div class="col-md-5 ui-sortable">
                        <%= add.input:city, label:false,
                        input_html:{class:"form-control regist-mod"}%>
                      </div>
                      <label class="control-label col-md-1"> Freguesia </label>
                      <div class="col-md-5 ui-sortable">
                        <%= add.input:perish, label:false,
                        input_html:{class:"form-control regist-mod"}%>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <label class="control-label col-md-1"> Morada </label>
                      <div class="col-md-11 ui-sortable">
                        <%= add.input:address,
                        label:false,
                        placeholder: "Colocar aqui a morada do local para realizar o serviço",
                        input_html:{class:"form-control regist-mod", "data-parsley-required" => "true",
                        id:"map-input"}  %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 ui-sortable">
                      <div id="map-canvas" class="map-place"></div>
                      <%= add.input:lat, :as => 'hidden', input_html:{id:"map-lat"}%>
                      <%= add.input:long, :as => 'hidden', input_html:{id:"map-long"}%>
                    </div>
                  </div>
                </div>
                <%end%>
              </fieldset>
            </div>
            <!-- end wizard step-1 -->
            <div class="wizard-step-2">
              <fieldset>
                <legend class="pull-left width-full">Identificação</legend>
                <!-- begin row -->
                <div class="row">
                  <!-- end col-4 -->
                  <!-- begin col-4 -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <!-- The regist-mod class is used by
                      registreation-modifier.js to
                      edit the required tag.
                      -->
                      <%= f.input :name, autofocus:true,
                      input_html:{class:"form-control regist-mod",
                      "data-parsley-group" =>"wizard-step-2",
                      }%>
                    </div>
                  </div>
                  <!-- end col-4 -->
                  <!--begin col-4 -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <%= f.input :email, autofocus: true,
                      input_html: {class: "form-control regist-mod",
                      "data-parsley-group" => "wizard-step-2"
                      } %>
                    </div>
                  </div>
                  <!-- begin col-4 -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <br></br>
                      <span class="btn btn-success fileinput-button">
                      <i class="glyphicon glyphicon-plus"></i>
                      <span> Upload photo</span>
                      <%= f.input :photo,
                      label: false,
                      input_html:{type:"file"} %>
                      </span>
                      <br></br>
                    </div>
                  </div>
                </div>
                <!-- end row -->
              </fieldset>
            </div>
            <div class="wizard-step-3">
              <fieldset>
                <legend class="pull-left width-full">Password</legend>
                <!-- begin row -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable),
                      input_html:{ placeholder:"More then 8 characters",
                      class: "form-control regist-mod",
                      "data-parsley-group"=>"wizard-step-3"
                      }
                      %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.input :password_confirmation,
                      input_html:{placeholder:"Confirme password",
                      class:"form-control  regist-mod",
                      "data-parsley-group" => "wizard-step-3"
                      }
                      %>
                    </div>
                  </div>
                </div>
                <!-- end row -->
              </fieldset>
            </div>
            <!-- end wizard step-3 -->
            <!-- begin wizard step-4 -->
            <div class="wizard-step-4">
              <fieldset>
                <legend class="pull-left width-full">Detalhes pessoais</legend>
                <div class="row">
                  <!-- begin col-6 -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.input :cell_phone,
                      input_html:{
                      type:"tel",
                      placeholder:"1234567890",
                      class: "form-control  regist-mod",
                      "data-parsley-group" => "wizard-step-4",
                      "data-parsley-type" => "number"
                      }%>
                      <br></br>
                      <%= f.input :phone,
                      input_html:{
                      type:"tel",
                      placeholder:"1234567890",
                      class: "form-control regist-mod",
                      "data-parsley-group" => "wizard-step-4",
                      "data-parsley-type" => "number"
                      }%>
                    </div>
                  </div>
                  <!-- end col-6 -->
                  <!-- begin col-6 -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Data nascimento </label>
                      <input id="datepicker-default"
                      name="user[birth_date]"
                      type="text"
                      class="form-control"
                      data-parsley-group="wizard-step-4"
                      required="">
                      </input>
                      <br></br>
                      <%= f.input :nationality,
                      input_html:{
                      class: "form-control regist-mod",
                      "data-parsley-group" => "wizard-step-4"
                      }
                      %>
                    </div>
                  </div>
                  <%= f.button :submit, "Submeter registo",
                  input_html:{class:"btn btn-success"}%>
                </div>
              </div>
            </fieldset>
          </div>
          <!-- end wizard step-4 -->
        </div>
        <%end%>
      </div>
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-12 -->
</div>
<!-- end row -->
</div>
<!-- end #content -->