<% content_for :body_class do %>
data-spy="scroll" data-target="#header-navbar" data-offset="51"
<% end %>
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-inverse navbar-fixed-top">
            <!-- begin container -->
            <div class="container">
                <!-- begin navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="logo-container" href="index.html" class="navbar-brand">
                        <img id="logo_bar" alt="Duster" src="/assets/logo2.png">
                        <!--<span class="brand-text">Duster</span>-->
                    </a>
                </div>
                <!-- end navbar-header -->
                <!-- begin navbar-collapse -->
                <div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#home" data-click="scroll-to-target"><%= t 'landing.header.home' %></a></li>
                      <li><a href="#about" data-click="scroll-to-target"><%= t 'landing.header.about_us' %></a></li>
                      <li><a href="#how_it_works" data-click="scroll-to-target"><%= t 'landing.header.how_it_works' %></a></li>
                      <li><a href="#service" data-click="scroll-to-target"><%= t 'landing.header.services' %></a></li>
                      <li><a href="#team" data-click="scroll-to-target"><%= t 'landing.header.our_team' %></a></li>
                      <li><a href="#contact" data-click="scroll-to-target"><%= t 'landing.header.contact_us' %></a></li>
                      <li class="dropdown">
                        <a href="#" data-click="scroll-to-target" data-toggle="dropdown"><%= t 'landing.language' %><b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-left animated fadeInDown">
                            <li><%= link_to image_tag('portugal_flag.jpg',size: '20x10') + " " + t("landing.portuguese") , locale: "pt"%></li>
                            <li><%= link_to image_tag('england_flag.png',size: '20x10') + " " + t("landing.english"), locale: "en" %></li>
                        </ul>
                      </li>
                      <% if user_signed_in? %>
                      <li class="dropdown">
                        <a href="#perfil" data-click="scroll-to-target" data-toggle="dropdown"><%=current_user.name%><b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-left animated fadeInDown">
                            <li> <%= link_to "Painel", controller:"users", action: "profile" %></li>
                            <li><%= link_to t("header.settings"), edit_user_registration_path %></li>
                            <li><%= link_to t("header.logout"), destroy_user_session_path, method: :delete %></li>
                        </ul>
                      </li>
                      <% else %>
                      <li><%= link_to t("landing.header.login"), new_user_session_path %></li>
                      <% end %>
                    </ul>
                </div>
                <!-- end navbar-collapse -->
            </div>
            <!-- end navbar-collapse -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #header -->
    <!-- begin #home -->
    <div id="home" class="content has-bg home" >
        <!-- begin content-bg -->
        <div class="content-bg">
            <%= image_tag 'home-bg.jpg' %>
        </div>
        <!-- end content-bg -->
        <!-- begin container -->
        <div class="container home-content">
            <h1><%= t 'landing.home.welcome' %></h1>
            <h3><%= t 'landing.home.phrase_2' %></h3>
            <h4><%= t 'landing.home.phrase_3' %></h4>
                <center>
                <form id="form_welcome" class="form-inline" action="/" method="POST">
                  <div class="form-group m-r-10">
                    <select class="form-control input-lg" id="select_district" name="city" style="width: 200px;">
                      <option value=""><%= t 'landing.home.title_option' %></option>
                      <option value="190101">Angra Do Heroismo</option><option value="10101">Aveiro</option><option value="20101">Beja</option><option value="30101">Braga</option><option value="40101">Bragança</option><option value="50101">Castelo Branco</option><option value="60101">Coimbra</option><option value="70101">Évora</option><option value="80101">Faro</option><option value="220101">Funchal</option><option value="90101">Guarda</option><option value="200101">Horta</option><option value="100101">Leiria</option><option value="110101">Lisboa</option><option value="210101">Ponta Delgada</option><option value="120101">Portalegre</option><option value="130101">Porto</option><option value="140101">Santarém</option><option value="150101">Setúbal</option><option value="160101">Viana Do Castelo</option><option value="170101">Vila Real</option><option value="180101">Viseu</option>
                    </select>
                  </div>
                  <button id="searchHP" type="submit" class="btn btn-success"><%= t 'landing.home.title_button' %></button>
                  <br/>
                  <br/>
                  <label id="answer_html"></label>
                </form>
                <% if not user_signed_in? %>
                  <%= link_to t("landing.header.signup_as_a_client"), users_new_user_path, class: "btn btn-primary", :method => "get" %>
                  <%= link_to t("landing.header.signup_as_a_maid"), users_new_client_path, class: "btn btn-primary",:method => "get" %>
                <%end%>
              </center> 
          </div>
          <!-- end container -->
        </div>
        <!-- end #home -->
        <!-- begin #about -->
        <div id="about" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title"><%= t 'landing.about_us.title' %></h2>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-6 col-sm-6">
                        <!-- begin about -->
                        <div class="about">
                            <h3><%= t 'landing.about_us.subtitle1' %></h3>
                            <p><%= t 'landing.about_us.subtitle1_text' %></p>
                        </div>
                        <!-- end about -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-6 col-sm-6">
                        <h3><%= t 'landing.about_us.subtitle2' %></h3>
                        <!-- begin about-author -->
                        <div class="about-author">
                            <div class="quote bg-silver">
                                <i class="fa fa-quote-left"></i>
                                <h3><%= t 'landing.about_us.subtitle2_text' %></h3>
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="author">
                                <div class="image">
                                    <%= image_tag 'user-1.jpg', title: "Sean Ngu" %>
                                </div>
                            </div>
                        </div>
                        <!-- end about-author -->
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #about -->
        <!-- begin #milestone -->
        <div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
            <!-- begin content-bg -->
            <div class="content-bg">
                <%= image_tag 'milestone-bg.jpg', title:"Milestone" %>
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container">
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-3 -->
                    <div class="col-md-4 col-sm-4 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="1292">1,292</div>
                            <div class="title text-white"><%= t 'landing.about_us.footer_data1' %></div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-4 col-sm-4 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="9039">9,039</div>
                            <div class="title text-white"><%= t 'landing.about_us.footer_data2' %></div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-4 col-sm-4 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="89291">89,291</div>
                            <div class="title text-white"><%= t 'landing.about_us.footer_data3' %></div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #milestone -->
        <!-- begin #how_work -->
        <div id="how_it_works" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title"><%= t 'landing.how_it_works.title' %></h2>
                <br/>
                <center>
                <p style="font-size:150%"> <span><b>Duster.</b></span> <%= t 'landing.how_it_works.desc' %></p>
                </center>
                <!-- begin video -->
                <div id="how-it-works-container">
                    <div class="how-it-works-video">
                        <%= image_tag 'pc.png', title:"teste2" %>
                    </div>
                    <div class="video-container">
                    <a class="popup-vimeo" href="https://player.vimeo.com/video/45830194?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1">
                      <iframe src="https://player.vimeo.com/video/45830194?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0" width="50%" height="50%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </a>
                    </div>
                </div>

                <!-- <iframe width="420" height="315" src="https://www.youtube.com/embed/rY0WxgSXdEE" frameborder="0" allowfullscreen></iframe> -->
                <!-- end video -->
            </div>
            <!-- end container -->
        </div>

        <!-- end #how_work -->
        <!-- begin #service -->
        <div id="service" class="content-bg" data-scrollview="true">
            <div id="action-box" class="content has-bg" data-scrollview="true">
                <!-- begin content-bg -->
                <div id="second_content-bg" class="content-bg">
                    <%= image_tag 'home-bg-services.jpg' %>
                </div>
                <!-- end content-bg -->
                <!-- begin container -->
                <div class="container">
                    <h2 class="content-title"><%= t 'landing.services.title' %></h2>
                    <p class="content-desc"><%= t 'landing.services.introduction_text' %>
                    </p>
                    <!-- begin row -->
                    <div class="row">
                        <!-- begin col-4 -->
                        <div class="col-md-6 col-sm-6">
                            <div class="service">
                                <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
                                <div class="info">
                                    <h4 class="title"><%= t 'landing.services.subtitle1' %></h4>
                                    <p class="content-desc"><%= t 'landing.services.subtitle1_text' %></p>
                                </div>
                            </div>
                        </div>
                        <!-- end col-4 -->
                        <!-- begin col-4 -->
                        <div class="col-md-6 col-sm-6">
                            <div class="service">
                                <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-paint-brush"></i></div>
                                <div class="info">
                                    <h4 class="title"><%= t 'landing.services.subtitle2' %></h4>
                                    <p class="content-desc"><%= t 'landing.services.subtitle2_text' %></p>
                                </div>
                            </div>
                        </div>
                        <!-- end col-4 -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
        </div>
        <!-- end #service -->
        <!-- begin #team -->
        <div id="team" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title"><%= t 'landing.our_team.title' %></h2>
                <p class="content-desc"><%= t 'landing.our_team.introduction_text' %><p>
                <!-- begin row -->
                <div class="row">
                    <div class="col-md-2-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <%= image_tag 'user_andre.png', title:"André Vieira" %>
                            </div>
                            <div class="info">
                                <h3 class="name">André Vieira</h3>
                                <div class="name">Project Chief</div>
                                <div class="name">Boss Man</div>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                    </div>
                    <div class="col-md-2-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <%= image_tag 'user_tiago.png', size: '128x128',  title:"Tiago Martins"%>
                            </div>
                            <div class="info">
                                <h3 class="name">Tiago Martins</h3>
                                <div class="name">Developer</div>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                    </div>
                    <div class="col-md-2-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <%= image_tag 'user_hugo.png', title:"Hugo Gomes" %>
                            </div>
                            <div class="info">
                                <h3 class="name">Hugo Gomes</h3>
                                <div class="name">Developer</div>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                    </div>
                    <div class="col-md-2-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <%= image_tag 'user_carla.png',  title:"Carla Regadas"%>
                            </div>
                            <div class="info">
                                <h3 class="name">Carla Regadas</h3>
                                <div class="name">Designer & Developer</div>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                    </div>
                    <div class="col-md-2-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <%= image_tag 'user_jorge.png', title:"Jorge Oliveira" %>
                            </div>
                            <div class="info">
                                <h3 class="name">Jorge Oliveira</h3>
                                <div class="name">Developer</div>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <%= image_tag 'user_sonia.png', title:"Sónia Dias" %>
                            </div>
                            <div class="info">
                                <h3 class="name">Sónia Dias</h3>
                                <div class="name">Project Manager</div>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                    </div>
                    <div class="col-md-2-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <%= image_tag 'user_pedro.png',  title:"Pedro Eiras"%>
                            </div>
                            <div class="info">
                                <h3 class="name">Pedro Eiras</h3>
                                <div class="name">Designer & Developer</div>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-2-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <%= image_tag 'user_kelly.png', title:"Kelyanne Thomé" %>
                            </div>
                            <div class="info">
                                <h3 class="name">Kelyanne Thomé</h3>
                                <div class="name">Project Manager</div>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-2-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <%= image_tag 'user_rogerio.png',  title:"Rogério Pontes"%>
                            </div>
                            <div class="info">
                                <h3 class="name">Rogério Pontes</h3>
                                <div class="name">Developer</div>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-2-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <%= image_tag 'user_ligia.png', title:"Ligia Chiuale" %>
                            </div>
                            <div class="info">
                                <h3 class="name">Ligia Chiuale</h3>
                                <div class="name">Project Manager</div>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #team -->
        <!-- begin #contact -->
        <div id="contact" class="content bg-silver" data-scrollview="true">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title"><%= t 'landing.contact_us.title' %></h2>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-6 -->
                    <div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
                        <h3><%= t 'landing.contact_us.introduction_text' %></h3>
                        <p>
                        <strong>Duster</strong><br />
                        Universidade do Minho<br />
                        Largo do Paço<br />
                        4704-553 Braga, Portugal<br />
                        </p>
                        <p>
                        <span class="phone">918 813 885</span><br />
                        <a href="mailto:geral.duster@gmail.com">geral.duster@gmail.com</a>
                        </p>
                    </div>
                    <!-- end col-6 -->
                    <!-- begin col-6 -->


                    <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
                      <%= simple_form_for(@guestbook) do |f| %>
                            <div class="form-group">
                                <div class="col-md-9">
                                  <%= t 'landing.contact_us.message_name' %>
                                  <%= f.input :name, label: false, input_html: {class: "form-control"} %>  
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9">
                                <br/>
                                  Email
                                  <%= f.input :email, label: false, input_html: {class: "form-control"} %>  
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9">
                                <br/>
                                  <%= t 'landing.contact_us.message_message' %>
                                  <%= f.input :message, label: false, input_html: {class: "form-control", rows: "5"} %>  
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 text-left">
                                <br/>
                                    <button type="submit" class="btn btn-theme btn-block"><%= t 'landing.contact_us.message_send' %></button>
                                </div>
                            </div>
                         <% end %>   
                    </div>
                    <!-- end col-6 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #contact -->
        <!-- begin #footer -->
        <div id="footer" class="footer">
            <div class="container">
                <div class="footer-brand">
                    <img id="logo" alt="Duster" height="50" src="/assets/logo2.png" width="160">
                </div>
                <p>
                    &copy; <%= Date.today.year %><%= t 'landing.contact_us.copyright' %> <br />
                </p>
                <p class="social-list">
                    <a href="http://facebook.com/duster.oficial"><i class="fa fa-facebook fa-fw"></i></a>
                    <a href="http://dusterproject.tumblr.com/"><i class="fa fa-tumblr fa-fw"></i></a>
                </p>
            </div>
        </div>
        <!-- end #footer -->
    </div>
    <!-- end #page-container -->
