<% content_for :body_class do %>
  data-spy="scroll" data-target="#header-navbar" data-offset="51"
<% end %>
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-inverse navbar-fixed-top">
            <!-- begin container -->
            <div class="container">
                <!-- begin navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="navbar-brand">
                        <img alt="Duster" height="50" src="/assets/duster3.png" width="160">
                        <!--<span class="brand-text">Duster</span>-->
                    </a>
                </div>
                <!-- end navbar-header -->
                <!-- begin navbar-collapse -->
                <div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#home" data-click="scroll-to-target"><%= t 'landing.header.home' %></a></li>
                      <li><a href="#about" data-click="scroll-to-target"><%= t 'landing.header.about_us' %></a></li>
                      <li><a href="#how_it_works" data-click="scroll-to-target"><%= t 'landing.header.how_it_works' %></a></li>
                      <li><a href="#service" data-click="scroll-to-target"><%= t 'landing.header.services' %></a></li>
                      <li><a href="#team" data-click="scroll-to-target"><%= t 'landing.header.our_team' %></a></li>
                      <li><a href="#contact" data-click="scroll-to-target"><%= t 'landing.header.contact_us' %></a></li>
                      <li class="dropdown">
                        <a href="#signup" data-click="scroll-to-target" data-toggle="dropdown"><%= t 'landing.language' %><b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-left animated fadeInDown">
                          <li><%= link_to image_tag('portugal_flag.jpg',size: '20x10') + " " + t("landing.portuguese") , locale: "pt"%></li>
                          <li><%= link_to image_tag('england_flag.png',size: '20x10') + " " + t("landing.english"), locale: "en" %></li>
                        </ul>
                      </li>
                      <% if user_signed_in? %>
                      <li class="dropdown">
                        <a href="#perfil" data-click="scroll-to-target" data-toggle="dropdown">USER<b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-left animated fadeInDown">
                          <li><%= link_to t("header.settings"), edit_user_registration_path %></li>
                          <li><%= link_to t("header.logout"), destroy_user_session_path, method: :delete %></li>
                        </ul>
                      </li>
                      <% else %>
                      <li><%= link_to t("landing.header.login"), new_user_session_path %></li>
                      <li class="dropdown">
                        <a href="#signup" data-click="scroll-to-target" data-toggle="dropdown"><%= t 'landing.header.signup' %><b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-left animated fadeInDown">
                          <li><%= link_to t("landing.header.signup_as_a_client"),new_user_registration_path%></li>
                          <li><%= link_to t("landing.header.signup_as_a_maid"),new_user_registration_path%></li>
                        </ul>
                      </li>
                      <% end %>
                    </ul>
                </div>
                <!-- end navbar-collapse -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #header -->

        <!-- begin #home -->
        <div id="home" class="content has-bg home">
          <!-- begin content-bg -->
          <div class="content-bg">
            <%= image_tag 'home-bg.jpg' %>
          </div>
          <!-- end content-bg -->
          <!-- begin container -->
          <div class="container home-content">
            <h1><%= t 'landing.home.welcome' %></h1>
            <h3><%= t 'landing.home.phrase_2' %></h3>
          </div>
          <!-- end container -->
        </div>
        <!-- end #home -->

        <!-- begin #about -->
        <div id="about" class="content" data-scrollview="true">
          <!-- begin container -->
          <div class="container" data-animation="true" data-animation-type="fadeInDown">
            <h2 class="content-title"><%= t 'landing.about_us.title' %></h2>
            <!-- begin row -->
            <div class="row">
              <!-- begin col-4 -->
              <div class="col-md-6 col-sm-6">
                <!-- begin about -->
                <div class="about">
                  <h3><%= t 'landing.about_us.subtitle1' %></h3>
                  <p><%= t 'landing.about_us.subtitle1_text' %></p>
                </div>
                <!-- end about -->
              </div>
              <!-- end col-4 -->
              <!-- begin col-4 -->
              <div class="col-md-6 col-sm-6">
                <h3><%= t 'landing.about_us.subtitle2' %></h3>
                <!-- begin about-author -->
                <div class="about-author">
                  <div class="quote bg-silver">
                    <i class="fa fa-quote-left"></i>
                    <h3><%= t 'landing.about_us.subtitle2_text' %></h3>
                    <i class="fa fa-quote-right"></i>
                  </div>
                  <div class="author">
                    <div class="image">
                      <%= image_tag 'user-1.jpg', title: "Sean Ngu" %>
                    </div>
                  </div>
                </div>
                <!-- end about-author -->
              </div>
              <!-- end col-4 -->
            </div>
            <!-- end row -->
          </div>
          <!-- end container -->
        </div>
        <!-- end #about -->

        <!-- begin #milestone -->
        <div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
            <!-- begin content-bg -->
            <div class="content-bg">
                <%= image_tag 'milestone-bg.jpg', title:"Milestone" %>
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container">
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-3 -->
                    <div class="col-md-4 col-sm-4 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="1292">1,292</div>
                            <div class="title"><%= t 'landing.about_us.footer_data1' %></div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-4 col-sm-4 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="9039">9,039</div>
                            <div class="title"><%= t 'landing.about_us.footer_data2' %></div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-4 col-sm-4 milestone-col">
                        <div class="milestone">
                            <div class="number" data-animation="true" data-animation-type="number" data-final-number="89291">89,291</div>
                            <div class="title"><%= t 'landing.about_us.footer_data3' %></div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #milestone -->

        <!-- begin #how_work -->
        <div id="how_it_works" class="content" data-scrollview="true">
          <!-- begin container -->
          <div class="container" data-animation="true" data-animation-type="fadeInDown">
            <h2 class="content-title"><%= t 'landing.how_it_works.title' %></h2>
            <br/>
            <!-- begin video -->

            <h2>Aqui estará o vídeo</h2>

            <!-- end video -->
          </div>
          <!-- end container -->
        </div>
        <!-- end #how_work -->

        <!-- begin #service -->
        <div id="service" class="content" data-scrollview="true">
          <div id="action-box" class="content has-bg" data-scrollview="true">
            <!-- begin content-bg -->
            <div class="content-bg">
              <%= image_tag 'home-bg-services.jpg' %>
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container">
              <h2 class="content-title"><%= t 'landing.services.title' %></h2>
              <p class="content-desc"><%= t 'landing.services.introduction_text' %>
              </p>
              <!-- begin row -->
              <div class="row">
                <!-- begin col-4 -->
                <div class="col-md-6 col-sm-6">
                  <div class="service">
                    <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
                    <div class="info">
                      <h4 class="title"><%= t 'landing.services.subtitle1' %></h4>
                      <p class="content-desc"><%= t 'landing.services.subtitle1_text' %></p>
                    </div>
                  </div>
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-6 col-sm-6">
                  <div class="service">
                    <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-paint-brush"></i></div>
                    <div class="info">
                      <h4 class="title"><%= t 'landing.services.subtitle2' %></h4>
                      <p class="content-desc"><%= t 'landing.services.subtitle2_text' %></p>
                    </div>
                  </div>
                </div>
                <!-- end col-4 -->
              </div>
              <!-- end row -->
            </div>
            <!-- end container -->
          </div>
        </div>
        <!-- end #service -->

        <!-- begin #team -->
        <div id="team" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title"><%= t 'landing.our_team.title' %></h2>
                <p class="content-desc"><%= t 'landing.our_team.introduction_text' %><p>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                              <%= image_tag 'user-1.jpg', title:"Ryan Teller" %>
                            </div>
                            <div class="info">
                                <h3 class="name">Ryan Teller</h3>
                                <div class="title text-theme">FOUNDER</div>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <%= image_tag 'user-2.jpg',  title:"Jonny Cash"%>
                            </div>
                            <div class="info">
                                <h3 class="name">Johnny Cash</h3>
                                <div class="title text-theme">WEB DEVELOPER</div>
                                <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                              <%= image_tag 'user-3.jpg', title:"Mia Donovan" %>
                            </div>
                            <div class="info">
                                <h3 class="name">Mia Donovan</h3>
                                <div class="title text-theme">WEB DESIGNER</div>
                                <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. </p>
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #team -->

        <!-- begin #contact -->
        <div id="contact" class="content bg-silver" data-scrollview="true">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title"><%= t 'landing.contact_us.title' %></h2>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-6 -->
                    <div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
                        <h3><%= t 'landing.contact_us.introduction_text' %></h3>
                        <p>
                            <strong>Duster</strong><br />
                            Universidade do Minho<br />
                            Largo do Paço<br />
                            4704-553 Braga, Portugal<br />
                        </p>
                        <p>
                            <span class="phone">918 813 885</span><br />
                            <a href="mailto:geral.duster@gmail.com">geral.duster@gmail.com</a>
                        </p>
                    </div>
                    <!-- end col-6 -->
                    <!-- begin col-6 -->
                    <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3"><%= t 'landing.contact_us.message_name' %> <span class="text-theme">*</span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Email <span class="text-theme">*</span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3"><%= t 'landing.contact_us.message_message' %> <span class="text-theme">*</span></label>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-9 text-left">
                                    <button type="submit" class="btn btn-theme btn-block"><%= t 'landing.contact_us.message_send' %></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end col-6 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #contact -->

        <!-- begin #footer -->
        <div id="footer" class="footer">
            <div class="container">
                <div class="footer-brand">
                    <div class="footer-brand-logo"></div>
                    Duster
                </div>
                <p>
                    &copy; <%= t 'landing.contact_us.copyright' %> <br />
                </p>
                <p class="social-list">
                    <a href="facebook.com/duster.oficial"><i class="fa fa-facebook fa-fw"></i></a>
                    <a href="http://dusterproject.tumblr.com/"><i class="fa fa-tumblr fa-fw"></i></a>
                </p>
            </div>
        </div>
        <!-- end #footer -->
    </div>
    <!-- end #page-container -->
