<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @guestbook.Name %>
	</p>

	<p>
	  <strong>Message:</strong>
	  <%= @guestbook.Message %>
	</p>

	<% if can? :update, @article %>
		<%= link_to 'Edit', edit_guestbook_path(@guestbook) %> |
	<% end %>
	
	<%= link_to 'Back', guestbooks_path %>
</div>