<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">
    <!-- begin sidebar user -->
    <ul class="nav">
      <li class="nav-profile">
        <div class="image">
          <a href="javascript:;">
          <%= image_tag current_user.photo %></a>
        </div>
        <div class="info">
          <%= current_user.name%>
          <% if current_user.is_client%>
          <small>Profissional de limpeza</small>
          <%else%>
          <small>Cliente</small>
        <%end%></div>
      </li>
    </ul>
    <!-- end sidebar user -->
    <% if current_user.is_client  %>
    <ul class="nav">
      <li class="nav-header">Home</li>
      <%if @active_schedule %>
      <li class="active">
        <% else %>
        <li>
          <% end %>
          <%= link_to controller: "service_providers/schedules", action: "show", id:current_user.id do%> <i class="fa fa-calendar"></i>
          <span>Horário</span>
        <%end%></li>
        <%if @active_jobs %>
        <li class="active">
          <% else %>
          <li>
            <% end %>
            <%= link_to controller: "service_providers/jobs", action: "show", id:current_user.id do%> <i class="fa fa-tasks"></i>
            <span>Painel de Trabalho</span>
          <%end%></li>
        </ul>
        <%else%>
        <!-- begin sidebar nav -->
        <ul class="nav">
          <li class="nav-header">Home</li>
          <%if @active_search_prof %>
          <li class="active">
            <%else%>
            <li>
              <%end%>
              <%= link_to controller: "services", action: "search_service_provider" do%>
              <i class="fa fa-search"></i>
              <span>Pesquisar profissional</span>
            <%end%></li>
            <%if @ratingActive %>
            <li class="active">
              <%else%>
              <li>
                <%end%>
                <%= link_to controller: "services", action: "rating" do%>
                <i class="fa fa-thumbs-o-up"></i>
                <span>Avaliar serviços</span>
              <%end%></li>
            </ul>
            <!-- end sidebar nav -->
          <%end%></div>
          <!-- end sidebar scrollbar --> </div>
          <div class="sidebar-bg"></div>
          <!-- end #sidebar -->