<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <title>Duster | Limpeza do seu lar à distância de um click!</title>
  <%= favicon_link_tag 'favicon.png' %>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="Duster home page" />
  <meta content="" name="Duster" />

  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


  <%= stylesheet_link_tag "application"%>
  <!-- ================== END BASE CSS STYLE ================== -->

  <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
  <!-- add required css or js to the header-->
  <%= yield :header_css %>
  <!-- ================== END PAGE LEVEL STYLE ================== -->



</head>
<body>
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>

    <!-- end #page-loader -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">

      <%= render 'layouts/application_navbar' %>
      <% if @sidebar %>
        <%= render 'layouts/application_sidebar' %>
      <% end %>
      
      <%= yield %>

    </div>

<!-- ================== BEGIN BASE JS ================== -->
  <%= javascript_include_tag "application" %>
<% if @gmaps %>
   <script type="text/javascript" 
           src="https://maps.googleapis.com/maps/api/js?key=
           AIzaSyCnxCXeETJ7W4ntJIkq0afOW4I9-7n2z3o&libraries=places&language=pt">
   </script>
<%end%>
<!--A parte de baixo nao esta a funcionar talvez criar
 um manifest e incluir o necessario-->
<!--[if lt IE 9]>
<script src="assets/crossbrowserjs/html5shiv.js"></script>
<script src="assets/crossbrowserjs/respond.min.js"></script>
<script src="assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<!-- ================== END BASE JS ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<!-- include aditional js per view -->
<%= yield :header_js %>

<!-- ================== END PAGE LEVEL JS ================== -->

<script>
$(document).ready(function() {
  App.init();
  <%= yield :js_start %>
});

</script>
</body>
</html>
